* {
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: rgb(204, 201, 201);
    font-family: 'Roboto', sans-serif;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-content: center;
    /* background-color: red; */
}

header nav li a {
    color: black;
}

.logo {

    width: 100px;
    height: auto;
    align-self: center;
}

.banner {
    max-width: 350px;
    align-self: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

nav li {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgb(199, 196, 196);
}

/* Servicios */

h2 {

    text-align: center;
    font-size: 2rem;
    background-color: rgb(212, 212, 212);
}

h2 {
    overflow: hidden;
    text-align: center;
}

h2:before,
h2:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

h2:before {
    right: 0.5em;
    margin-left: -50%;
}

h2:after {
    left: 0.5em;
    margin-right: -50%;
}

.servicios {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;

}

.servicio {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.title {
    text-align: center;
    font-size: 1.5rem;
}

.img_servicio {
    display: flex;
    width: 50%;
    margin: 0 auto;
    /* border-radius: 50%; */
    padding: 0.5rem;
}


.servicio_button {
    margin: 0 auto;
    width: 80%;
    color: white;
    background-color: grey;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 12px;
}

.servicio_button:hover {

    background-color: rgb(77, 77, 77);

}




.pservicio {
    font-size: 1.2rem;
    padding: 1rem;
}


/* Proyectos */

.proyectos {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 6rem;
    justify-content: center;
    align-content: center;
    /* background-color: pink; */
}

.proyecto {
    align-self: center;
    margin: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
    background-color: rgb(216, 213, 213);
    padding: 2rem;
    box-shadow: 2px 2px 5px rgb(194, 192, 192),
        -3px -3px 6px rgb(102, 101, 101);
    border-radius: 10px;
}

.flex:hover {
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    100% {
        -webkit-transform: scale(1.25);
        transform: scale(1.25);
    }
}


.title_proyecto {

    align-self: center;
    /* eliminado este padding */
    /* padding-left: 2rem;  */
}

.img_proyecto {
    align-self: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.pproyecto {
    text-align: center;
    /* eliminado este padding */
    /* padding-top: 1rem; */
    width: 250px;
}



/* Footer */

footer {
    display: flex;
    flex-direction: column;

}

.flogo {

    width: 100px;
    height: auto;
    align-self: center;
}

.slogan {
    text-align: center;
    padding: 1rem;
}

.container_rrss {
    padding: 2rem;
    display: flex;
    align-self: center;
    width: 100%;
    justify-content: space-around;

}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #5a5a5c;
    color: white;
}


.fa-twitter {
    background: #5a5a5c;
    color: white;
}

.fa-instagram {
    background: #5a5a5c;
    color: white;
}

@media (min-width: 768px) {

    .proyectos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .flex {
        min-height: 350px;
        padding: 2rem;
    }

    .container_rrss {
        max-width: 400px;
    }


}

@media (min-width: 1280px) {

    nav {
        width: 700px;
        align-self: center;
    }

    .servicios {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .servicio {
        max-width: 400px;
        min-height: 500px;
        justify-content: space-evenly;
    }

    .proyectos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .flex {
        min-height: 350px;
        padding: 1rem;
    }

    footer {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        justify-content: center;

    }

    .slogan {
        width: 400px;
    }

    .flogo {
        width: 100px;
        padding-right: 9rem;
        height: auto;
        align-self: center;
    }

    .container_rrss {
        max-width: 400px;
        order: 3;
    }


}

/* 
@media (min-width: 1024px) {

       .proyectos {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
 
         .proyecto {
        display: flex;
        flex-wrap: wrap;
        width: 18%;
    } 

        .flex {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

      .img_proyecto {
        width: 100px;
        align-items: center;
    }

       .title_proyecto {
        flex-wrap: wrap;
    }

      .pproyecto {
        width: 90%;
        text-align: justify;
         font-size: 10px
    }

    footer {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        max-width: 1280px;
        margin: 0 auto;
        align-items: center;

    }

    .slogan {
        width: 400px;
    }

    .flogo {
        width: 100px;
        height: auto;
        order: 3
    }

    .container_rrss {
        max-width: 400px;
        order: 3;
    }
} */